objects/bin
.DS_Store
/objects/DerivedData/
/objects/.DS_Store
/objects/Shreditor.xcodeproj/project.xcworkspace/xcuserdata/thijskoerselman.xcuserdatad/UserInterfaceState.xcuserstate
UserInterfaceState.xcuserstate