<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>vx.shruthi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>369473B20FD5C3DC00A5E9FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3694742E0FD5C8DC00A5E9FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>843980EF17268B510022FFE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8458DEBF15AA1800003124B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84A9647B161112540048B8B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
